
.header{
background-color: rgb(87, 187, 137);
padding: 10px;
margin-bottom: 20px;
font-size: 1.1em;
}
.header a{
    color: whitesmoke;
}
.menu_buttons {
    padding-left: 30px;
    padding-right: 30px;
}

.menu_buttons a {
    color: white;
    text-align: center;
}

.menu_buttons li {
    padding-inline-end: 7px;
}

.menu_buttons a:hover {
    background-color: #306319;
    color: white;
}

.menu_buttons a:visited {
    color: white;
}

.menu_buttons .active {
    background-color: #333333 !important;
}

.menu_search {
    padding-right: 30px;
    padding-left: 30px;
}

@media (max-width: 576px) {
    .menu_search {
        padding-top: 15px;
    }
}

@media (max-width: 828px) {
    .menu_buttons li {
        padding: 7px;
    }
    .menu_search {
        text-align: center;
    }
}

.perfil{
    padding: 20px; margin-top: 20px; margin-bottom: 20px;
    background-color:rgb(87, 187, 137);
}
.perfil img{
    width: 80%;
}
.profile_icons{
    width: 4%;
}
.textointrodução h1{
    font-size: 4.0em;
}
.textointrodução p{
    font-size: 1.1em;
}
.projetos img{
    width: 90%; padding: 10px; margin-top: 20px;
}
.projetos{
    padding: 20px; margin-top: 20px; margin-bottom: 20px;
}
.projetos h4{
    font-size: 1.3em;
    text-align: justify;
}
.projetos h1
{
    font-size: 3em;
    align-items:center;
}
.projetos p1{
    font-size: 1.1em;
}
.exp img{
    width: 100%; padding: 20px;
}
.exp{
    padding: 20px;
}
.exp h5{
    font-size: 1.3em;

}
.exp h2{
    font-size: 3em;

}
.exp p2{
    font-size: 1.1em;


}

.repositorios{
    padding: 20px; margin-top: 20px; margin-bottom: 20px;
}
.repositorios h3
{
    font-size: 3em;
}
.recomendações{
    padding: 20px; margin-top: 20px; margin-bottom: 20px;
}
.recomendações h4
{
    font-size: 3em;
}


.card{
    background-color:rgb(87, 187, 137);
}
.recomendacoes_descricao {
    padding-top: 10px;
    text-align: justify;
}

.recommendations_video {
    padding-top: 10px;
}
footer img{
    width: 30%;
}
.footer {
    padding: 15px;
    margin-top: 50px;
    background-color:rgb(87, 187, 137);
    color: white;
}

.footer_row {
    padding-left: 20px;
    padding-right: 20px;
}

.footer p {
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.footer img {
    max-width: 80%;
}

@media (max-width: 768px) {
    .footer img {
        padding-top: 20px;
        max-width: 50%;
    }
}